@charset "UTF-8";
/* 样式变量文件 */
:root {
  --swc-color-white: #ffffff;
  --swc-color-black: #000000;
  --swc-color-primary-rgb: 64, 158, 255;
  --swc-color-success-rgb: 103, 194, 58;
  --swc-color-warning-rgb: 230, 162, 60;
  --swc-color-danger-rgb: 245, 108, 108;
  --swc-color-error-rgb: 245, 108, 108;
  --swc-color-info-rgb: 144, 147, 153;
  --swc-font-size-extra-large: 20px;
  --swc-font-size-large: 18px;
  --swc-font-size-medium: 16px;
  --swc-font-size-base: 14px;
  --swc-font-size-small: 13px;
  --swc-font-size-extra-small: 12px;
  --swc-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --swc-font-weight-primary: 500;
  --swc-font-line-height-primary: 24px;
  --swc-index-normal: 1;
  --swc-index-top: 1000;
  --swc-index-popper: 2000;
  --swc-border-radius-base: 4px;
  --swc-border-radius-small: 2px;
  --swc-border-radius-round: 20px;
  --swc-border-radius-circle: 100%;
  --swc-transition-duration: 0.3s;
  --swc-transition-duration-fast: 0.2s;
  --swc-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  --swc-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  --swc-transition-all: all var(--swc-transition-duration) var(--swc-transition-function-ease-in-out-bezier);
  --swc-transition-fade: opacity var(--swc-transition-duration) var(--swc-transition-function-fast-bezier);
  --swc-transition-md-fade: transform var(--swc-transition-duration) var(--swc-transition-function-fast-bezier), opacity var(--swc-transition-duration) var(--swc-transition-function-fast-bezier);
  --swc-transition-fade-linear: opacity var(--swc-transition-duration-fast) linear;
  --swc-transition-border: border-color var(--swc-transition-duration-fast) var(--swc-transition-function-ease-in-out-bezier);
  --swc-transition-box-shadow: box-shadow var(--swc-transition-duration-fast) var(--swc-transition-function-ease-in-out-bezier);
  --swc-transition-color: color var(--swc-transition-duration-fast) var(--swc-transition-function-ease-in-out-bezier);
  --swc-component-size-large: 40px;
  --swc-component-size: 32px;
  --swc-component-size-small: 24px;
}

:root {
  color-scheme: light;
  --swc-color-primary: #409eff;
  --swc-color-primary-light-3: #79bbff;
  --swc-color-primary-light-5: #a0cfff;
  --swc-color-primary-light-7: #c6e2ff;
  --swc-color-primary-light-8: #d9ecff;
  --swc-color-primary-light-9: #ecf5ff;
  --swc-color-primary-dark-2: #337ecc;
  --swc-color-success: #67c23a;
  --swc-color-success-light-3: #95d475;
  --swc-color-success-light-5: #b3e19d;
  --swc-color-success-light-7: #d1edc4;
  --swc-color-success-light-8: #e1f3d8;
  --swc-color-success-light-9: #f0f9eb;
  --swc-color-success-dark-2: #529b2e;
  --swc-color-warning: #e6a23c;
  --swc-color-warning-light-3: #eebe77;
  --swc-color-warning-light-5: #f3d19e;
  --swc-color-warning-light-7: #f8e3c5;
  --swc-color-warning-light-8: #faecd8;
  --swc-color-warning-light-9: #fdf6ec;
  --swc-color-warning-dark-2: #b88230;
  --swc-color-danger: #f56c6c;
  --swc-color-danger-light-3: #f89898;
  --swc-color-danger-light-5: #fab6b6;
  --swc-color-danger-light-7: #fcd3d3;
  --swc-color-danger-light-8: #fde2e2;
  --swc-color-danger-light-9: #fef0f0;
  --swc-color-danger-dark-2: #c45656;
  --swc-color-error: #f56c6c;
  --swc-color-error-light-3: #f89898;
  --swc-color-error-light-5: #fab6b6;
  --swc-color-error-light-7: #fcd3d3;
  --swc-color-error-light-8: #fde2e2;
  --swc-color-error-light-9: #fef0f0;
  --swc-color-error-dark-2: #c45656;
  --swc-color-info: #909399;
  --swc-color-info-light-3: #b1b3b8;
  --swc-color-info-light-5: #c8c9cc;
  --swc-color-info-light-7: #dedfe0;
  --swc-color-info-light-8: #e9e9eb;
  --swc-color-info-light-9: #f4f4f5;
  --swc-color-info-dark-2: #73767a;
  --swc-bg-color: #ffffff;
  --swc-bg-color-page: #f2f3f5;
  --swc-bg-color-overlay: #ffffff;
  --swc-text-color-primary: #303133;
  --swc-text-color-regular: #606266;
  --swc-text-color-secondary: #909399;
  --swc-text-color-placeholder: #a8abb2;
  --swc-text-color-disabled: #c0c4cc;
  --swc-border-color: #dcdfe6;
  --swc-border-color-light: #e4e7ed;
  --swc-border-color-lighter: #ebeef5;
  --swc-border-color-extra-light: #f2f6fc;
  --swc-border-color-dark: #d4d7de;
  --swc-border-color-darker: #cdd0d6;
  --swc-fill-color: #f0f2f5;
  --swc-fill-color-light: #f5f7fa;
  --swc-fill-color-lighter: #fafafa;
  --swc-fill-color-extra-light: #fafcff;
  --swc-fill-color-dark: #ebedf0;
  --swc-fill-color-darker: #e6e8eb;
  --swc-fill-color-blank: #ffffff;
  --swc-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --swc-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --swc-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --swc-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --swc-disabled-bg-color: var(--swc-fill-color-light);
  --swc-disabled-text-color: var(--swc-text-color-placeholder);
  --swc-disabled-border-color: var(--swc-border-color-light);
  --swc-overlay-color: rgba(0, 0, 0, 0.8);
  --swc-overlay-color-light: rgba(0, 0, 0, 0.7);
  --swc-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --swc-mask-color: rgba(255, 255, 255, 0.9);
  --swc-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --swc-border-width: 1px;
  --swc-border-style: solid;
  --swc-border-color-hover: var(--swc-text-color-disabled);
  --swc-border: var(--swc-border-width) var(--swc-border-style) var(--swc-border-color);
  --swc-svg-monochrome-grey: var(--swc-border-color);
}

.swc-button {
  --swc-button-font-weight: var(--swc-font-weight-primary);
  --swc-button-border-color: var(--swc-border-color);
  --swc-button-bg-color: var(--swc-fill-color-blank);
  --swc-button-text-color: var(--swc-text-color-regular);
  --swc-button-disabled-text-color: var(--swc-disabled-text-color);
  --swc-button-disabled-bg-color: var(--swc-fill-color-blank);
  --swc-button-disabled-border-color: var(--swc-border-color-light);
  --swc-button-divide-border-color: rgba(255, 255, 255, 0.5);
  --swc-button-hover-text-color: var(--swc-color-primary);
  --swc-button-hover-bg-color: var(--swc-color-primary-light-9);
  --swc-button-hover-border-color: var(--swc-color-primary-light-7);
  --swc-button-active-text-color: var(--swc-button-hover-text-color);
  --swc-button-active-border-color: var(--swc-color-primary);
  --swc-button-active-bg-color: var(--swc-button-hover-bg-color);
  --swc-button-outline-color: var(--swc-color-primary-light-5);
  --swc-button-hover-link-text-color: var(--swc-color-info);
  --swc-button-active-color: var(--swc-text-color-primary);
}

.swc-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--swc-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: var(--swc-button-font-weight);
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--swc-button-bg-color);
  border: var(--swc-border);
  border-color: var(--swc-button-border-color);
  padding: 8px 15px;
  font-size: var(--swc-font-size-base);
  border-radius: var(--swc-border-radius-base);
}
.swc-button:hover {
  color: var(--swc-button-hover-text-color);
  border-color: var(--swc-button-hover-border-color);
  background-color: var(--swc-button-hover-bg-color);
  outline: none;
}
.swc-button:active {
  color: var(--swc-button-active-text-color);
  border-color: var(--swc-button-active-border-color);
  background-color: var(--swc-button-active-bg-color);
  outline: none;
}
.swc-button:focus-visible {
  outline: 2px solid var(--swc-button-outline-color);
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}
.swc-button > span {
  display: inline-flex;
  align-items: center;
}
.swc-button + .swc-button {
  margin-left: 12px;
}
.swc-button.is-round {
  padding: 8px 15px;
}
.swc-button::-moz-focus-inner {
  border: 0;
}
.swc-button [class*=swc-icon] + span {
  margin-left: 6px;
}
.swc-button [class*=swc-icon] svg {
  vertical-align: bottom;
}
.swc-button.is-plain {
  --swc-button-hover-text-color: var(--swc-color-primary);
  --swc-button-hover-bg-color: var(--swc-fill-color-blank);
  --swc-button-hover-border-color: var(--swc-color-primary);
}

.swc-button.is-active {
  color: var(--swc-button-active-text-color);
  border-color: var(--swc-button-active-border-color);
  background-color: var(--swc-button-active-bg-color);
  outline: none;
}

.swc-button.is-disabled, .swc-button.is-disabled:hover {
  color: var(--swc-button-disabled-text-color);
  cursor: not-allowed;
  background-image: none;
  background-color: var(--swc-button-disabled-bg-color);
  border-color: var(--swc-button-disabled-border-color);
}

.swc-button.is-loading {
  position: relative;
  pointer-events: none;
}
.swc-button.is-loading:before {
  z-index: 1;
  pointer-events: none;
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  background-color: var(--swc-mask-color-extra-light);
}

.swc-button.is-round {
  border-radius: var(--swc-border-radius-round);
}

.swc-button.is-circle {
  width: 32px;
  border-radius: 50%;
  padding: 8px;
}

.swc-button.is-text {
  color: var(--swc-button-text-color);
  border: 0 solid transparent;
  background-color: transparent;
}
.swc-button.is-text.is-disabled {
  color: var(--swc-button-disabled-text-color);
  background-color: transparent !important;
}

.swc-button.is-text:not(.is-disabled):hover {
  background-color: var(--swc-fill-color-light);
}
.swc-button.is-text:not(.is-disabled):focus-visible {
  outline: 2px solid var(--swc-button-outline-color);
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}
.swc-button.is-text:not(.is-disabled):active {
  background-color: var(--swc-fill-color);
}
.swc-button.is-text:not(.is-disabled).is-has-bg {
  background-color: var(--swc-fill-color-light);
}
.swc-button.is-text:not(.is-disabled).is-has-bg:hover {
  background-color: var(--swc-fill-color);
}
.swc-button.is-text:not(.is-disabled).is-has-bg:active {
  background-color: var(--swc-fill-color-dark);
}

.swc-button__text--expand {
  letter-spacing: 0.3em;
  margin-right: -0.3em;
}

.swc-button.is-link {
  border-color: transparent;
  color: var(--swc-button-text-color);
  background: transparent;
  padding: 2px;
  height: auto;
}
.swc-button.is-link:hover {
  color: var(--swc-button-hover-link-text-color);
}
.swc-button.is-link.is-disabled {
  color: var(--swc-button-disabled-text-color);
  background-color: transparent !important;
  border-color: transparent !important;
}

.swc-button.is-link:not(.is-disabled):hover {
  border-color: transparent;
  background-color: transparent;
}
.swc-button.is-link:not(.is-disabled):active {
  color: var(--swc-button-active-color);
  border-color: transparent;
  background-color: transparent;
}

.swc-button--text {
  border-color: transparent;
  background: transparent;
  color: var(--swc-color-primary);
  padding-left: 0;
  padding-right: 0;
}
.swc-button--text.is-disabled {
  color: var(--swc-button-disabled-text-color);
  background-color: transparent !important;
  border-color: transparent !important;
}

.swc-button--text:not(.is-disabled):hover {
  color: var(--swc-color-primary-light-3);
  border-color: transparent;
  background-color: transparent;
}
.swc-button--text:not(.is-disabled):active {
  color: var(--swc-color-primary-dark-2);
  border-color: transparent;
  background-color: transparent;
}

.swc-button__link--expand {
  letter-spacing: 0.3em;
  margin-right: -0.3em;
}

.swc-button--primary {
  --swc-button-text-color: var(--swc-color-white);
  --swc-button-bg-color: var(--swc-color-primary);
  --swc-button-border-color: var(--swc-color-primary);
  --swc-button-outline-color: var(--swc-color-primary-light-5);
  --swc-button-active-color: var(--swc-color-primary-dark-2);
  --swc-button-hover-text-color: var(--swc-color-white);
  --swc-button-hover-link-text-color: var(--swc-color-primary-light-5);
  --swc-button-hover-bg-color: var(--swc-color-primary-light-3);
  --swc-button-hover-border-color: var(--swc-color-primary-light-3);
  --swc-button-active-bg-color: var(--swc-color-primary-dark-2);
  --swc-button-active-border-color: var(--swc-color-primary-dark-2);
  --swc-button-disabled-text-color: var(--swc-color-white);
  --swc-button-disabled-bg-color: var(--swc-color-primary-light-5);
  --swc-button-disabled-border-color: var(--swc-color-primary-light-5);
}
.swc-button--primary.is-plain, .swc-button--primary.is-text, .swc-button--primary.is-link {
  --swc-button-text-color: var(--swc-color-primary);
  --swc-button-bg-color: var(--swc-color-primary-light-9);
  --swc-button-border-color: var(--swc-color-primary-light-5);
  --swc-button-hover-text-color: var(--swc-color-white);
  --swc-button-hover-bg-color: var(--swc-color-primary);
  --swc-button-hover-border-color: var(--swc-color-primary);
  --swc-button-active-text-color: var(--swc-color-white);
}
.swc-button--primary.is-plain.is-disabled, .swc-button--primary.is-plain.is-disabled:hover, .swc-button--primary.is-plain.is-disabled:focus, .swc-button--primary.is-plain.is-disabled:active, .swc-button--primary.is-text.is-disabled, .swc-button--primary.is-text.is-disabled:hover, .swc-button--primary.is-text.is-disabled:focus, .swc-button--primary.is-text.is-disabled:active, .swc-button--primary.is-link.is-disabled, .swc-button--primary.is-link.is-disabled:hover, .swc-button--primary.is-link.is-disabled:focus, .swc-button--primary.is-link.is-disabled:active {
  color: var(--swc-color-primary-light-5);
  background-color: var(--swc-color-primary-light-9);
  border-color: var(--swc-color-primary-light-8);
}

.swc-button--success {
  --swc-button-text-color: var(--swc-color-white);
  --swc-button-bg-color: var(--swc-color-success);
  --swc-button-border-color: var(--swc-color-success);
  --swc-button-outline-color: var(--swc-color-success-light-5);
  --swc-button-active-color: var(--swc-color-success-dark-2);
  --swc-button-hover-text-color: var(--swc-color-white);
  --swc-button-hover-link-text-color: var(--swc-color-success-light-5);
  --swc-button-hover-bg-color: var(--swc-color-success-light-3);
  --swc-button-hover-border-color: var(--swc-color-success-light-3);
  --swc-button-active-bg-color: var(--swc-color-success-dark-2);
  --swc-button-active-border-color: var(--swc-color-success-dark-2);
  --swc-button-disabled-text-color: var(--swc-color-white);
  --swc-button-disabled-bg-color: var(--swc-color-success-light-5);
  --swc-button-disabled-border-color: var(--swc-color-success-light-5);
}
.swc-button--success.is-plain, .swc-button--success.is-text, .swc-button--success.is-link {
  --swc-button-text-color: var(--swc-color-success);
  --swc-button-bg-color: var(--swc-color-success-light-9);
  --swc-button-border-color: var(--swc-color-success-light-5);
  --swc-button-hover-text-color: var(--swc-color-white);
  --swc-button-hover-bg-color: var(--swc-color-success);
  --swc-button-hover-border-color: var(--swc-color-success);
  --swc-button-active-text-color: var(--swc-color-white);
}
.swc-button--success.is-plain.is-disabled, .swc-button--success.is-plain.is-disabled:hover, .swc-button--success.is-plain.is-disabled:focus, .swc-button--success.is-plain.is-disabled:active, .swc-button--success.is-text.is-disabled, .swc-button--success.is-text.is-disabled:hover, .swc-button--success.is-text.is-disabled:focus, .swc-button--success.is-text.is-disabled:active, .swc-button--success.is-link.is-disabled, .swc-button--success.is-link.is-disabled:hover, .swc-button--success.is-link.is-disabled:focus, .swc-button--success.is-link.is-disabled:active {
  color: var(--swc-color-success-light-5);
  background-color: var(--swc-color-success-light-9);
  border-color: var(--swc-color-success-light-8);
}

.swc-button--warning {
  --swc-button-text-color: var(--swc-color-white);
  --swc-button-bg-color: var(--swc-color-warning);
  --swc-button-border-color: var(--swc-color-warning);
  --swc-button-outline-color: var(--swc-color-warning-light-5);
  --swc-button-active-color: var(--swc-color-warning-dark-2);
  --swc-button-hover-text-color: var(--swc-color-white);
  --swc-button-hover-link-text-color: var(--swc-color-warning-light-5);
  --swc-button-hover-bg-color: var(--swc-color-warning-light-3);
  --swc-button-hover-border-color: var(--swc-color-warning-light-3);
  --swc-button-active-bg-color: var(--swc-color-warning-dark-2);
  --swc-button-active-border-color: var(--swc-color-warning-dark-2);
  --swc-button-disabled-text-color: var(--swc-color-white);
  --swc-button-disabled-bg-color: var(--swc-color-warning-light-5);
  --swc-button-disabled-border-color: var(--swc-color-warning-light-5);
}
.swc-button--warning.is-plain, .swc-button--warning.is-text, .swc-button--warning.is-link {
  --swc-button-text-color: var(--swc-color-warning);
  --swc-button-bg-color: var(--swc-color-warning-light-9);
  --swc-button-border-color: var(--swc-color-warning-light-5);
  --swc-button-hover-text-color: var(--swc-color-white);
  --swc-button-hover-bg-color: var(--swc-color-warning);
  --swc-button-hover-border-color: var(--swc-color-warning);
  --swc-button-active-text-color: var(--swc-color-white);
}
.swc-button--warning.is-plain.is-disabled, .swc-button--warning.is-plain.is-disabled:hover, .swc-button--warning.is-plain.is-disabled:focus, .swc-button--warning.is-plain.is-disabled:active, .swc-button--warning.is-text.is-disabled, .swc-button--warning.is-text.is-disabled:hover, .swc-button--warning.is-text.is-disabled:focus, .swc-button--warning.is-text.is-disabled:active, .swc-button--warning.is-link.is-disabled, .swc-button--warning.is-link.is-disabled:hover, .swc-button--warning.is-link.is-disabled:focus, .swc-button--warning.is-link.is-disabled:active {
  color: var(--swc-color-warning-light-5);
  background-color: var(--swc-color-warning-light-9);
  border-color: var(--swc-color-warning-light-8);
}

.swc-button--danger {
  --swc-button-text-color: var(--swc-color-white);
  --swc-button-bg-color: var(--swc-color-danger);
  --swc-button-border-color: var(--swc-color-danger);
  --swc-button-outline-color: var(--swc-color-danger-light-5);
  --swc-button-active-color: var(--swc-color-danger-dark-2);
  --swc-button-hover-text-color: var(--swc-color-white);
  --swc-button-hover-link-text-color: var(--swc-color-danger-light-5);
  --swc-button-hover-bg-color: var(--swc-color-danger-light-3);
  --swc-button-hover-border-color: var(--swc-color-danger-light-3);
  --swc-button-active-bg-color: var(--swc-color-danger-dark-2);
  --swc-button-active-border-color: var(--swc-color-danger-dark-2);
  --swc-button-disabled-text-color: var(--swc-color-white);
  --swc-button-disabled-bg-color: var(--swc-color-danger-light-5);
  --swc-button-disabled-border-color: var(--swc-color-danger-light-5);
}
.swc-button--danger.is-plain, .swc-button--danger.is-text, .swc-button--danger.is-link {
  --swc-button-text-color: var(--swc-color-danger);
  --swc-button-bg-color: var(--swc-color-danger-light-9);
  --swc-button-border-color: var(--swc-color-danger-light-5);
  --swc-button-hover-text-color: var(--swc-color-white);
  --swc-button-hover-bg-color: var(--swc-color-danger);
  --swc-button-hover-border-color: var(--swc-color-danger);
  --swc-button-active-text-color: var(--swc-color-white);
}
.swc-button--danger.is-plain.is-disabled, .swc-button--danger.is-plain.is-disabled:hover, .swc-button--danger.is-plain.is-disabled:focus, .swc-button--danger.is-plain.is-disabled:active, .swc-button--danger.is-text.is-disabled, .swc-button--danger.is-text.is-disabled:hover, .swc-button--danger.is-text.is-disabled:focus, .swc-button--danger.is-text.is-disabled:active, .swc-button--danger.is-link.is-disabled, .swc-button--danger.is-link.is-disabled:hover, .swc-button--danger.is-link.is-disabled:focus, .swc-button--danger.is-link.is-disabled:active {
  color: var(--swc-color-danger-light-5);
  background-color: var(--swc-color-danger-light-9);
  border-color: var(--swc-color-danger-light-8);
}

.swc-button--info {
  --swc-button-text-color: var(--swc-color-white);
  --swc-button-bg-color: var(--swc-color-info);
  --swc-button-border-color: var(--swc-color-info);
  --swc-button-outline-color: var(--swc-color-info-light-5);
  --swc-button-active-color: var(--swc-color-info-dark-2);
  --swc-button-hover-text-color: var(--swc-color-white);
  --swc-button-hover-link-text-color: var(--swc-color-info-light-5);
  --swc-button-hover-bg-color: var(--swc-color-info-light-3);
  --swc-button-hover-border-color: var(--swc-color-info-light-3);
  --swc-button-active-bg-color: var(--swc-color-info-dark-2);
  --swc-button-active-border-color: var(--swc-color-info-dark-2);
  --swc-button-disabled-text-color: var(--swc-color-white);
  --swc-button-disabled-bg-color: var(--swc-color-info-light-5);
  --swc-button-disabled-border-color: var(--swc-color-info-light-5);
}
.swc-button--info.is-plain, .swc-button--info.is-text, .swc-button--info.is-link {
  --swc-button-text-color: var(--swc-color-info);
  --swc-button-bg-color: var(--swc-color-info-light-9);
  --swc-button-border-color: var(--swc-color-info-light-5);
  --swc-button-hover-text-color: var(--swc-color-white);
  --swc-button-hover-bg-color: var(--swc-color-info);
  --swc-button-hover-border-color: var(--swc-color-info);
  --swc-button-active-text-color: var(--swc-color-white);
}
.swc-button--info.is-plain.is-disabled, .swc-button--info.is-plain.is-disabled:hover, .swc-button--info.is-plain.is-disabled:focus, .swc-button--info.is-plain.is-disabled:active, .swc-button--info.is-text.is-disabled, .swc-button--info.is-text.is-disabled:hover, .swc-button--info.is-text.is-disabled:focus, .swc-button--info.is-text.is-disabled:active, .swc-button--info.is-link.is-disabled, .swc-button--info.is-link.is-disabled:hover, .swc-button--info.is-link.is-disabled:focus, .swc-button--info.is-link.is-disabled:active {
  color: var(--swc-color-info-light-5);
  background-color: var(--swc-color-info-light-9);
  border-color: var(--swc-color-info-light-8);
}

.swc-button--large {
  --swc-button-size: 40px;
  height: var(--swc-button-size);
  padding: 12px 19px;
  font-size: var(--swc-font-size-base);
  border-radius: var(--swc-border-radius-base);
}
.swc-button--large [class*=swc-icon] + span {
  margin-left: 8px;
}
.swc-button--large.is-round {
  padding: 12px 19px;
}
.swc-button--large.is-circle {
  width: var(--swc-button-size);
  padding: 12px;
}

.swc-button--small {
  --swc-button-size: 24px;
  height: var(--swc-button-size);
  padding: 5px 11px;
  font-size: 12px;
  border-radius: calc(var(--swc-border-radius-base) - 1px);
}
.swc-button--small [class*=swc-icon] + span {
  margin-left: 4px;
}
.swc-button--small.is-round {
  padding: 5px 11px;
}
.swc-button--small.is-circle {
  width: var(--swc-button-size);
  padding: 5px;
}