# 设置用于发包的 NPM 私服地址，后面发包会用到
# @swc-ui:registry=https://registry.npmjs.com/
#@swc-ui:registry=https://registry.npmmirror.com/
# 设置 npm 发布无需登陆
registry.npmjs.org/:always-auth=true
registry.npmjs.org/:_authToken=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


# 自动安装任何缺少的 peerDeps，默认值：false
# 适用于组件库开发，无需手动安装宿主环境依赖
auto-install-peers=true

# peerDeps 缺失时安装依赖不报错，默认值：false
# 注意在 v7.0.0 和 v7.13.5 之间的版本为 true
strict-peer-dependencies=false

# PNPM 默认不会执行自定义 pre/post 脚本
enable-pre-post-scripts=true

# 提升所有依赖到根目录
shamefully-hoist=true