.demo-button .swc-button+.swc-button {
  margin-left: 12px;
}
.demo-button swc-button-group+swc-button-group {
  margin-left: 12px;
}
.demo-button swc-row {
  margin-bottom: 1rem
}

.all-icons .swc-svg {
  margin: 0 16px 16px 0;
}

.VPContent .vp-doc h2 {
  border-top: 0;
  padding-top: 0;
}