.swc-icon {
  --swc-icon-border-radius: 4px;
  display: inline-block;
  transition: 0.15s;
  border-radius: var(--swc-icon-border-radius);
  cursor: pointer;
}

.swc-icon-spin {
  animation: rotating 1.6s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}